* {
  box-sizing: border-box;
}

/* general */
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* main */
p.brand-statement {
  color: #777777;
}

div > img#headshot {
  height: 30%;
  margin: 2em 0 1.6em 0;
  /* opacity: 0.5; */
  /* border-radius: 50%; */
}

span#brand-statement-bar {
  margin: 0 2em;
}

.navbar-toggler.custom-toggler {
  border: none;
  cursor: pointer;
}

a.nav-link {
  font-size: medium;
}

h1#name {
  font-size: 4.6rem;
  margin-bottom: 3rem;
}

h2,
.h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

div.card i.fab,
div.card i.fas {
  font-size: 1.7em;
  margin-top: 0.5em;
}

div#social-bar {
  position: fixed;
  left: 0.5rem;
  top: 5rem;
}

div#social-bar a:not(:last-child) {
  display: block;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 1.5rem;
}

p#head-symbol {
  color: darkgoldenrod;
  font-weight: 900;
  font-size: 1.5rem;
}

div.wrapper {
  margin-top: 3rem;
}

div#resume {
  margin: 3rem 0;
}

footer {
  font-size: 85%;
}

/* MEDIA QUERIES */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .wrapper {
    padding: 0 3rem;
  }


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #projects-wrapper {
    margin-top: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199.98px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #projects-wrapper {
    margin-top: 2rem;
  }
}
