body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: url("../images/dust_scratches.png") fixed center center;
    line-height: 34px;
}

* {
    box-sizing: border-box;
}

/* general */
.container {
    width: 100%; 
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

.container section {
    float: left;
    margin-top: 130px;
    margin-bottom: 34px;
    max-width: 900px;
    width:100%;
    padding: 5px 30px;
    padding-bottom: 30px;
    background-color: white;
    border: 1px solid #dddddd;
}

.clearfix:after { 
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* header */
#header {
    position: fixed;
    z-index: 99;
    overflow: auto;
    width: 100%;
    margin: 0 0 30px;
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
}

nav {
    position: relative;
    max-width:960px;
}

nav,
section {
    margin: 0 auto;
}

.topnav {
    list-style: none;
    float: right;
    position: relative;
    top:40px;
    right:55px;
}

.topnav li {
    display: inline;
    border-right: 1px solid #0000000e;
    padding: 0px 10px;
    text-align: center;
}

.icon {
    border: none;
}

.topnav a {
    text-decoration: none;
    color: #777777;
}

.topnav li:last-child {
    border-right: none;
}

.topnav li a:hover {
    color: #00403C;
}


#navName {
    float: left;
    height: 90px;
    line-height: 90px;
    width: 250px;
    /* position: absolute; */
    /* padding: 31px 29px; */
    color: #ffffff;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    background-color: #4aaaa5;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* footer */
footer {
    padding: 10px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    margin-top: 0;
    color: #cccccc;
    font-size: 8pt;
    text-align: center;
    line-height: 20px;
    /* padding-bottom: 15px; */
    margin-top:10px;
}



/* main */
.title {
    border-bottom: 3px solid #dddddd;
    color: #4aaaa5;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    margin-top: 10px;
    line-height: 200%;
    color: #777777;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 30px;
}

h2 {
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
}

/* media queries */
@media only screen and (max-width: 980px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .container section {
        width: 100%;
    }

    /* nav needs to move left to fill 100% */
    /* content needs to be compressed into smaller box */
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .container section {
        width: 100%;
    }
    /* copy content width from 980px */
}

@media only screen and (max-width: 640px) {
    header {
        position: static;
    }

    .container {
        width: 100%;
        padding: 0 20px;
    }
    
    .container section {
        width: 100%;
    }

    #navName {
        width:100%;
        clear:both;
        overflow: auto;
        height: 50px;
        line-height: 50px;
    }

    .topnav {
        display:block;
        float: left;
        position: static;
    }

    .topnav li {
        text-align:center;
        justify-content: center;
     }

    img {
        float: right;
    }
    
    /* navbar name and links needs to fill 100% width */
    /* header content needs to be centered */
    /* content needs to float or collapse to vertical */
    /* img needs to center and float on top of p content */
}
