* {
    box-sizing: border-box;
}

/* general */
.clearfix:after { 
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* main */
.brand-statement {
    color: #777777;
}

h1, .h1 {
    font-size: 4.2rem;
    margin-top: 1.8rem;
}

h2, .h2 {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

i.fab, 
i.fas {
    font-size: 1.5em;
    margin-right: .5rem;
}

div.card i.fab, 
div.card i.fas {
    font-size: 1.15em;
}


i.fa-file-download {
    font-size: 1rem;
}

p {
    margin-top: 1.5rem;
}

p#head-symbol {
    color: darkgoldenrod;
    font-weight: 900;
    font-size: 1.5rem;
}

/* media queries */
@media (min-width: 768px) {
    .title {
      margin-top: 4rem;
    }
    .projects-wrapper {
        padding: 0rem;
    }
}