/*----Fonts----*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Bitter&display=swap');

* {
  box-sizing: border-box;
}

/* general */
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* main */

.navbar-toggler.custom-toggler {
  border: none;
  cursor: pointer;
}

nav ul {
  padding: 0; 
  list-style: none; 
  display: table;
  width: 100%;
  text-align: center;
}

nav li {
  display: table-cell; 
  position: relative; 
  font-family: "Montserrat", sans-serif;
}

div > img#headshot {
  height: 40%;
  margin: 1em 0 3em 0;
  /* opacity: 0.5; */
  /* border-radius: 50%; */
}

h1#name {
  font-family: "Bitter", sans-serif;
  font-size: 2.6rem;
  font-weight: bolder;
  margin-bottom: 2.5rem;
}

p.brand-statement {
  color: #777777;
}

span#brand-statement-bar {
  margin: 0 2em;
}

#about,
#work {
  line-height: 200%;
}

.title {
  font-family: "Montserrat";
}

h2,
.h2 {
  font-size: 1.828rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

div#social-bar {
  margin: 2em 0;
}

div#social-bar a:not(:last-child) {
  margin-right: 1em;
}

div#social-bar img{
  height: 32px;
  width: 32px;
}


div.wrapper {
  margin-top: 3rem;
}

div#resume {
  margin: 3rem 0;
}

div#work .row {
  margin: 5rem 0;
}

footer {
  background-color: #000000;
  color: rgb(184, 184, 184);
}

footer p, 
footer a,
footer small {
  margin: 0;
  color: rgb(184, 184, 184);
}

footer a:hover {
  color: #ffffff;
}

#footer-name {
  font-weight: bolder;
  font-size: 120%;
  margin: 0;
}


/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* MEDIA QUERIES */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .wrapper {
    padding: 0 3rem;
  }


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #work {
    margin-top: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199.98px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #work {
    margin-top: 7rem;
  }
}
