* {
  box-sizing: border-box;
}

/* general */
.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* main */
.brand-statement {
  color: #777777;
}

.navbar-toggler.custom-toggler {
  border: none;
  cursor: pointer;
}

a.nav-link {
  font-size: medium;
}

h1,
.h1 {
  font-size: 4.2rem;
}

h2,
.h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

i.fab,
i.fas {
  font-size: 1.5em;
  margin-right: 0.5rem;
}

div.card i.fab,
div.card i.fas {
  font-size: 1.5em;
  margin-top: .5em;
}

i.fa-file-download {
  font-size: 1rem;
}

p {
  margin-top: 1.5rem;
}

p#head-symbol {
  color: darkgoldenrod;
  font-weight: 900;
  font-size: 1.5rem;
}

div.wrapper {
  margin-top: 3rem;
}

div#resume {
  margin: 3rem 0;
}

footer {
  font-size: 85%;
}

/* MEDIA QUERIES */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #projects-wrapper {
    margin-top: 2rem;
  }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199.98px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #projects-wrapper {
    margin-top: 2rem;
  }
}
